body 
{
    background: #f0f0f0;
    color: #444;
    font-family: 'Helvetica', arial, sans-serif;
}
  
.container 
{
    background: #fff;
    max-width: 600px;
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #cfcbcc;
}
  
input 
{
    background-color: #e6edf0;
    border: groove #f5fffa;
    width: 97.7%;
    line-height: 2.5;
    padding: 8px 0 8px 10px;
}
  
h2,h3 
{
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
}

h3 
{
    color: #808080;
}
  
ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li 
{
    font-weight: 400;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px 0;
}

ul li:before 
{
    content: "\25A1";       /*css-code for (□) white square to contain check mark before each list*/
    padding: 10px 10px;
    font-size: 20px;
}
ul li:hover 
{
    text-decoration: line-through;
    cursor: pointer;
}
ul li:last-child 
{
    border-bottom: none;
}
    
.checked
{
    color:#008000;
}

.checked:before 
{
    content: "\2713";       /*css-code for (✓) check mark */
    padding: 10px 10px;
    font-size: 20px;
}
      
.checked:hover 
{
    text-decoration: none;
}
        
.checked:after 
{
    content: "(remove)";
    color: #ff6347;
    text-align: right;
}
      
  